{{> head }}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Buenas noshes</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis consequatur facere doloremque, numquam nisi fugiat ut, voluptatum nesciunt beatae dolore vel nobis eaque adipisci voluptates? Quasi consectetur praesentium saepe rerum!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/picky.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}